<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body>

        <form action="/uploadvids" method="POST">
            <h1> Upload a video </h1>
            <label for="Title"> Title: </label>
                <input type="text" name="Title" id="Title">

                <label for="description">Description:</label>
                <br>
                <textarea id="add" name="add" rows="3" cols="40"></textarea>

        <action="/watchlectures.html" method="POST">
            <label for="Tags"> Tags: </label>
                <input type="text" name="Tags:" id="Tags:">
        <section class="submission">
            <input type="submit" value="Upload">
        </section>
    </form>
    </body>
</html>