<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body>
        <div id="greybox">
        <form action="/uploadvids" method="POST">
            <p><b class="headings">UPLOAD A VIDEO</b></p>
            <label for="Title"> Title: </label>
                <input type="text" name="Title" id="Title">
            <br>
            <input type="file" name="video">
                
                <br>
                <label for="description">Description:</label>
                <br>
                <textarea id="add" name="add" rows="3" cols="40"></textarea>
                <br>

            <label for="Tags"> Tags: </label>
                <br>
                <input type="text" name="Tags" id="Tags">
            <section class="submission">
                <input type="submit" value="Upload">
            </section>
        </form>
        </div>
    </body>
</html>