<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body>
        <div id="greybox">
        <p><b class="headings">WATCH LECTURES</b></p> 
        
        <div class="searchbar">
        <form action="/watchlectures1.html" method="POST">
            
            <label for="Search a video">Search a video </label>
                <input type="text" name="Search a video" id="Search a video">
                <section class="submission">
                        <input type="submit" value="Search">
                    </section>
        </form>
       
        <form>
                <label for="filter">Filter By</label>
                <select id="filter" name="filter">
                    <option value="blank"> </option>
                    <option value="recent">Most Recent</option>
                    <option value="popular"> Most Popular</option>
                    <option value="professor"> By Professor</option>
                </select>
            </form>
        

        <div class="row">
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage1%20copy.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage2%20copy.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage3%20copy.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage4%20copy.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/fontpage5%20copy.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage6%20copy.png" style="width:100%">
                </div>
            </div>
        </div>
            
        </div>

    </body>
    
</html>