<html> 
    <head> 
        <title>Home Page</title> 
    </head> 
    <body> 
        <div id="greybox">
            <p><b class="headings">RECOMMENDED VIDEOS</b></p> 

            <div class="slide-wrap">
                  
                    <div class="slider">
                        <div class="slide" id="slide-1"> <img src= "https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage1%20copy.png"> </div>
                        <div class="slide" id="slide-2"> <img src= "https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage2%20copy.png" style="width:800px;height:450px;">  </div>
                        <div class="slide" id="slide-3"> <img src= "https://raw.githubusercontent.com/ameru/caption-this/master/angular/images%20and%20logos/frontpage3%20copy.png"> </div>
                    </div>

            </div>

            <p><b class="headings">BROWSE BY COLLEGE</b></p> 
            <header>
                <div class="searchbycollege">
                <nav>
                    <ul>
                    <li><a routerLink="/watchlectures">CLA</a></li>
                    <li><a routerLink="/watchlectures">CAFES</a></li>
                    <li><a routerLink="/watchocob">OCOB</a></li>
                    <li><a routerLink="/watchlectures">CENG</a></li>
                    <li><a routerLink="/watchlectures">COSAM</a></li>
                    <li><a routerLink="/watchlectures">CAED</a></li>
                    </ul>
                </nav>
                </div>
            </header>
        </div> 
    </body> 
</html> 