<html> 
<head> 
    <title>Home Page</title> 
</head> 
<body> 
<div id="greybox">
    <p><b class="headings">RECOMMENDED VIDEOS</b></p> 
    <p><b class="headings">BROWSE BY COLLEGE</b></p> 

    <header>
        <div class="searchbycollege">
          <nav>
            <ul>
              <li><a routerLink="/watchlectures">CLA</a></li>
              <li><a routerLink="/watchlectures">CAFES</a></li>
              <li><a routerLink="/watchlectures">OCOB</a></li>
              <li><a routerLink="/watchlectures">CENG</a></li>
              <li><a routerLink="/watchlectures">COSAM</a></li>
              <li><a routerLink="/watchlectures">CAED</a></li>
            </ul>
          </nav>
        </div>
      </header>

</div> 



</body> 
</html> 