<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body>

        <form action="/watchlectures1.html" method="POST">
            <h1> Watch Lectures </h1>
            <label for="Search a video">Search a video </label>
                <input type="text" name="Search a video" id="Search a video">
        </form>
        <section class="submission">
                <input type="submit" value="Search">
            </section>
        <form>
                <label for="filter">Filter By</label>
                <select id="filter" name="filter">
                    <option value="OCOB">OCOB</option>
                    <option value="recent">Most Recent</option>
                    <option value="popular"> Most Popular</option>
                    <option value="CLA">CLA</option>
                    <option value="CAFES">CAFES</option>
                    <option value="CENG">CENG</option>
                    <option value="COSAM">COSAM</option>
                    <option value="CAED">CAED</option>
                </select>
            </form>
    </body>
</html>