<header>
  <div>
      <img src="https://github.com/ameru/caption-this/blob/master/angular/images%20and%20logos/caption-this-logo.png?raw=true" width="300px" height="auto" alt="Caption This!" id="logo">
  </div>
  <div>
      <img src="https://github.com/ameru/caption-this/blob/master/angular/images%20and%20logos/cph-profile.png?raw=true" width="100px" height="auto" alt="profile" id="profile">
  </div>
  <form>
      <label for="profile">Hello, TeamWork</label>
      <select id="myprofile" name="myprofile">
          <option value="profile"> </option>
          <option value="profile">My Profile</option>
          <option value="logout"> Log Out</option>
      </select>
  </form>

  <div class="navbar">
    <!-- <a routerLink="/" class="logo">{{ appTitle }}</a> -->
    <nav>
      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/howitworks">HOW IT WORKS</a></li>
        <li><a routerLink="/watchlectures">WATCH LECTURES</a></li>
        <li><a routerLink="/uploadvids">UPLOAD VIDEO</a></li>
        <li><a routerLink="/contribute">ADD CAPTIONS</a></li>
      </ul>
    </nav>
  </div>
</header>