<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <div style="width:300px;height:150px;overflow:hidden;">
        <img src="https://github.com/ameru/caption-this/blob/master/angular/images%20and%20logos/caption-this-logo.png?raw=true" width="300px" height="auto" alt="Caption This!" id="logo">
        </div>
        <div style="width:100px;height:100px;overflow:hidden;">
            <img src="https://github.com/ameru/caption-this/blob/master/angular/images%20and%20logos/cph-profile.png?raw=true" width="100px" height="auto" alt="profile" id="profile">
        </div>
        <form>
            <label for="profile">Hello, TeamWork</label>
            <select id="my profile" name="my profile">
                <option value="profile"> </option>
                <option value="profile">My Profile</option>
                <option value="logout"> Log Out</option>
            </select>
        </form>
    </head>
    <body>
        <h1>Add Captions</h1>
        <video width="480" height="360" controls>
            <source src="https://github.com/ameru/caption-this/blob/master/angular/images%20and%20logos/samplevideo.MOV?raw=true" type="video/mp4">
        </video>
        <div>
            <input type="range">
        </div>
    </body>
        
</html>